html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


body {
    @extend %roboto-regular;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}