@import "reset";

@import "global";
@import "vars";

.header {
    padding: 53px 0 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
    }
}

.rockets {
    ul {
        display: flex;
        justify-content: center;
    }
    &__list-item {
        padding: 0 10px;
        &:hover {
            text-decoration: underline; 
        }
    }
}

.menu {
    ul {
        display: flex;
        justify-content: center;
    }
    &__list-item {
        opacity: 0.5;
        transition: all .5s;
        padding: 0 10px; 
        &:hover {
            opacity: 1;
        }
    }

}

.top {
    text-align: center;
    &__title {
        font-size: 64px;
        line-height: 75px;
        @extend %roboto-regular;
        margin-bottom: 26px;
    }
    &__content {
        width: 268px;
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto 70px;
        @extend %roboto-light;
        position: relative;
        &::after {
            content: "";
            background-image: url('../img/line.svg');
            position: absolute;
            height: 60px;
            width: 1px;
            top: 68px;
            left: 132px;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
        
}

.main {
    background-image: url('../img/rocket.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-bottom: 183px;
    &__inner {
        display: flex;
    }
    &__content {
        margin-top: 200px;
    }
    &__overview-title {
        width: 180px;
        @extend %roboto-bold;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        padding-bottom: 45px;
    }
    &__overview-charact {
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        li+li {
            padding-top: 11px;
            

        }
    }
    &__overview-list2 {
        span {
            color: #B2B0B2;

        }
    }
    &__performance-title {
        width: 174px;
        @extend %roboto-bold;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
        padding: 218px 0 45px;
    }
    &__performance-content {
        max-width: 450px;
        font-size: 16px;
        line-height: 29px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.footer {
    text-align: center;
    &__social-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 43px 0 28px;
        li {
            padding: 0 20px;
            margin-top: 10px;
        }
    }
    &__mail {
        color: #808080;
        margin-bottom: 30px;
        & a:hover {
            cursor: pointer;
            color: #fff;
            transition: 0.3s;
        }
    }
    &__btn {
        padding: 20px 87px;
        border: 2px solid #fff;
        border-radius: 6px;
        margin-bottom: 130px;
        background: #000;
        color: inherit;
        font-size: inherit;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    overflow: hidden;
    &__dialog {
        margin: 50px auto;
        max-width: 315px;
    }
    &__content {
        position: relative;     
        background-color: #fff;
        // max-width: 340px;
        padding: 30px;
        color: black;
        margin: 0;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding-bottom: 15px;
    }
    &__input {
        display: block;
        margin: 15px auto;
        text-align: center;
        padding: 10px;
        width: 210px;
        border-radius: 5px;
        border: 1px solid #1c1c1c;
    }
    &__btn {
        display: block;
        background-color: #000;
        color: #fff;
        border: none;
        margin: 0 auto;
        width: 210px;
        padding: 11px;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            color:gray;
        }
    }
    &__close {
        position: absolute;
        left: 288px;
        top: 12px;
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}


@import "media";


